{
  "openapi": "3.0.0",
  "info": {
    "title": "GitHub API Endpoints",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.github.com/repos"
    }
  ],
  "paths": {
    "/axios/axios": {
      "get": {
        "summary": "Get information about the \"axios/axios\" repository",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          }
        }
      }
    },
    "/TanStack/query": {
      "get": {
        "summary": "Get information about the \"TanStack/query\" repository",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Repository"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Repository": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "node_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "private": {
            "type": "boolean"
          },
          "owner": {
            "$ref": "#/components/schemas/Repository_owner"
          },
          "html_url": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "fork": {
            "type": "boolean"
          },
          "url": {
            "type": "string"
          },
          "forks_url": {
            "type": "string"
          },
          "keys_url": {
            "type": "string"
          },
          "collaborators_url": {
            "type": "string"
          },
          "teams_url": {
            "type": "string"
          },
          "hooks_url": {
            "type": "string"
          },
          "issue_events_url": {
            "type": "string"
          },
          "events_url": {
            "type": "string"
          },
          "assignees_url": {
            "type": "string"
          },
          "branches_url": {
            "type": "string"
          },
          "tags_url": {
            "type": "string"
          },
          "blobs_url": {
            "type": "string"
          },
          "git_tags_url": {
            "type": "string"
          },
          "git_refs_url": {
            "type": "string"
          },
          "trees_url": {
            "type": "string"
          },
          "statuses_url": {
            "type": "string"
          },
          "languages_url": {
            "type": "string"
          },
          "stargazers_url": {
            "type": "string"
          },
          "contributors_url": {
            "type": "string"
          },
          "subscribers_url": {
            "type": "string"
          },
          "subscription_url": {
            "type": "string"
          },
          "commits_url": {
            "type": "string"
          },
          "git_commits_url": {
            "type": "string"
          },
          "comments_url": {
            "type": "string"
          },
          "issue_comment_url": {
            "type": "string"
          },
          "contents_url": {
            "type": "string"
          },
          "compare_url": {
            "type": "string"
          },
          "merges_url": {
            "type": "string"
          },
          "archive_url": {
            "type": "string"
          },
          "downloads_url": {
            "type": "string"
          },
          "issues_url": {
            "type": "string"
          },
          "pulls_url": {
            "type": "string"
          },
          "milestones_url": {
            "type": "string"
          },
          "notifications_url": {
            "type": "string"
          },
          "labels_url": {
            "type": "string"
          },
          "releases_url": {
            "type": "string"
          },
          "deployments_url": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "pushed_at": {
            "type": "string",
            "format": "date-time"
          },
          "git_url": {
            "type": "string"
          },
          "ssh_url": {
            "type": "string"
          },
          "clone_url": {
            "type": "string"
          },
          "svn_url": {
            "type": "string"
          },
          "homepage": {
            "type": "string"
          },
          "size": {
            "type": "integer"
          },
          "stargazers_count": {
            "type": "integer"
          },
          "watchers_count": {
            "type": "integer"
          },
          "language": {
            "type": "string"
          },
          "has_issues": {
            "type": "boolean"
          },
          "has_projects": {
            "type": "boolean"
          },
          "has_downloads": {
            "type": "boolean"
          },
          "has_wiki": {
            "type": "boolean"
          },
          "has_pages": {
            "type": "boolean"
          },
          "has_discussions": {
            "type": "boolean"
          },
          "forks_count": {
            "type": "integer"
          },
          "archived": {
            "type": "boolean"
          },
          "disabled": {
            "type": "boolean"
          },
          "open_issues_count": {
            "type": "integer"
          },
          "license": {
            "$ref": "#/components/schemas/Repository_license"
          },
          "allow_forking": {
            "type": "boolean"
          },
          "is_template": {
            "type": "boolean"
          },
          "web_commit_signoff_required": {
            "type": "boolean"
          },
          "topics": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "visibility": {
            "type": "string"
          },
          "forks": {
            "type": "integer"
          },
          "open_issues": {
            "type": "integer"
          },
          "watchers": {
            "type": "integer"
          },
          "default_branch": {
            "type": "string"
          },
          "temp_clone_token": {
            "type": "string"
          },
          "organization": {
            "$ref": "#/components/schemas/Repository_owner"
          },
          "network_count": {
            "type": "integer"
          },
          "subscribers_count": {
            "type": "integer"
          }
        }
      },
      "Repository_owner": {
        "type": "object",
        "properties": {
          "login": {
            "type": "string"
          },
          "id": {
            "type": "integer"
          },
          "node_id": {
            "type": "string"
          },
          "avatar_url": {
            "type": "string"
          },
          "gravatar_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "html_url": {
            "type": "string"
          },
          "followers_url": {
            "type": "string"
          },
          "following_url": {
            "type": "string"
          },
          "gists_url": {
            "type": "string"
          },
          "starred_url": {
            "type": "string"
          },
          "subscriptions_url": {
            "type": "string"
          },
          "organizations_url": {
            "type": "string"
          },
          "repos_url": {
            "type": "string"
          },
          "events_url": {
            "type": "string"
          },
          "received_events_url": {
            "type": "string"
          },
          "type": {
            "type": "string"
          },
          "site_admin": {
            "type": "boolean"
          }
        }
      },
      "Repository_license": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "spdx_id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "node_id": {
            "type": "string"
          }
        }
      }
    }
  }
}